html, body {
    margin: 0;
    padding: 0;
}

nav {
    display: block;
    width: 100%;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 10px 20px;
    box-sizing: border-box;
}

h1 {
    float: left;
    width: 30%;
    margin: 0;
}

ul {
    float: right;
    margin: 0;
    margin-right: 50px;
}

li {
    display: inline;
    margin-right: 30px;
}

li:last-of-type {
    margin-right: 0;
}

a:link,
a:visited {
    color: white;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

main {
    text-align: center; /* align form */
}

form {
    margin: 10px auto;
}

#map {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 20px;
}