html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: 40%;
    height: 40%;
    float: right;
    margin-right: 10%;
}

form {
    display: block;
    width: 40%;
    float: left;
    margin-left: 10%;
}
