html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

button {
    /* TODO */
}

.container {
    width: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

form {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

form[name="register"] {
    display: none;
}

fieldset {
    border: none;
}

fieldset#addressField {
    border: 1px solid black;
}

ul {
    list-style: none;
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

li {
    display: inline;
}

legend {
    text-align: center;
}